{:paths ["src"]
 :deps {org.clojure/clojure {:mvn/version "1.10.2"}
        org.clojure/tools.trace {:mvn/version "0.7.11"}
        hyperfiddle/rcf {:git/url "https://github.com/hyperfiddle/rcf.git" :sha "09d546b56f6027fbea67736edf3af75acca29ba5"}
        ;;org.clojure/tools.trace {mvn/version "0.7.11"}
        }
 
 :aliases
 {:repl {:extra-paths ["dev"]}}}
